#(project
  (#(meta
     (#(name lmug)
      #(description "LFE HTTP Server Abstraction and Web Application Middleware Infrastructure"
      #(version "0.0.3")
      #(keywords ("LFE" "Lisp" "Library" "HTTP" "Server" "Middleware"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/lmug")))))
   #(app
     (#(mod #(lmug ()))))))

