{erl_opts, [debug_info]}.

{lfe_first_files, ["src/lmug-opt.lfe"]}.

{deps, [
   {lutil, {git, "https://github.com/lfex/lutil.git", {tag, "0.8.0"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.3.0"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{profiles, [
  {doc, [
     {lodox, {git, "https://github.com/quasiquoting/lodox.git", {tag, "0.12.11"}}}
    ]},
  {test, [
    {eunit_compile_opts, [
      {src_dirs, ["test", "src"]}
      ]},
    {deps, [
       {ltest, {git, "https://github.com/lfex/ltest.git", {tag, "0.8.0"}}}
      ]},
    {plugins, [
       {'lfe-test', {git, "https://github.com/lfe-rebar3/test.git", {tag, "0.2.0"}}}
      ]}
    ]}
  ]}.

{project_plugins, [
   {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.3.0"}}},
   {'lfe-clean', {git, "https://github.com/lfe-rebar3/clean.git", {tag, "0.2.0"}}}
  ]}.

{lodox,[
  {apps, [
    {lmug, [
       {'source-uri',
        "https://github.com/lfe-mug/lmug/blob/{version}/{filepath}#L{line}"},
       {'output-path', "docs/master/current/api"}
      ]}
    ]}
  ]}.
