{erl_opts, [debug_info, {no_auto_import, [{get,1}]}]}.

{lfe_first_files, ["src/lmug-opt.lfe"]}.

{deps, [
  {lfe, "~> 2.1"},
  {http, "~> 0.5.4", {pkg, lfe_http}},
  {logjam, "~> 1.2"}
]}.

{plugins, [
   {rebar3_lfe, "~> 0.4.8"}
]}.

{provider_hooks, [
  {pre, [{compile, {lfe, compile}}]}
]}.

{xref_checks,[
  undefined_function_calls,undefined_functions,locals_not_used,
  deprecated_function_calls,deprecated_functions
]}.

{profiles, [
  {test, [
    {deps, [
      {proper, "~> 1.4"},
      {ltest, "~> 0.13"}
    ]},
    {plugins, [
      {rebar3_proper, "~> 0.12.1"}
    ]},
    {eunit_opts, [verbose]},
    {erl_opts, [{src_dirs, ["src", "test"]}]}
  ]}
]}.

{alias, [
  {coverage, [
    {proper, "-c"},
    {cover, "-v --min_coverage=0"}
  ]},
  {ltest, [
    {lfe, ltest, "-tall"}
  ]},
  {check, [
    compile,
    xref,
    % dialyzer,
    ltest
    % coverage
  ]}
]}.
